/* Global styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Book list styles */
.book-heading {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.search-bar {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.search-input {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
}

.search-button {
    padding: 10px 15px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 0 5px 5px 0;
    background-color: #f4f4f4;
    cursor: pointer;
}
.book-actions h4{
	text-align: center;
	color: springgreen;
}
.book-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.book {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.book-cover {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
}

.book-title {
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0;
}

.book-info {
    font-size: 16px;
    margin: 5px 0;
}

/* Button styles */
.btn-e {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}
.btn-edit {
		background-color: #007bff;
		color: #fff;
		margin-right: 10px;
	}
	
	.btn-delete {
		background-color: #dc3545;
		color: #fff;
	}

.btn-add {
    background-color: #28a745;
    color: #fff;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
    .book-list {
        grid-template-columns: repeat(2, 1fr);
    }
}
